<div id = "check_button">


<%= form_for :conditions,{:method => 'get'} do |f|%>
<%Genre.all.each do |genre|%>
<%= f.check_box :genre_ids,{:name => "conditions[genre_ids][]"},
genre.id.to_s%>
<%=genre.name%>
<%end%>

<div class = "submit">
<%= f.submit("ジャンル検索") %>
</div>
<% end %>
</div>
<!--
<div>
<%= form_tag(controller:"homes",action:"circle") do %>
<%= radio_button_tag("r1","スポーツ") %>
<%= label_tag("support","スポーツ") %>
<%= radio_button_tag("r1","バンド") %>
<%= label_tag("band","バンド") %>
<%= radio_button_tag("r1","ゲーム") %>
<%= label_tag("volunteer","ゲーム") %>
<%= radio_button_tag("r1","アウトドア") %>
<%= label_tag("study","アウトドア") %>
<%= submit_tag("行け―！") %>
<% end %>
</div>

-->

</div>
