<div class = "after_check">
	<p>サークル一覧</p>
<table>
	<%unless @msg.blank?%>
	<tr>
	<th>ID</th><th>Name</th><th>Genre</th><th>Image</th>
	</tr>
	<% @msg.each do |obj| %>
	<tr>
	<td><%= obj.id %></td>
	<td><%= obj.username %></td>
	<td><%= obj.genre.name %></td>
	<%if obj.image.blank?%>
	<td><%= image_tag "/images/noimage.png"%></td>
	<%else%>
	<td><%= image_tag obj.image.to_s%></td>
	<%end%>
	</tr>
	<%end%>
	<%else%>
	<p>まだ、サークルが登録されていないみたいです。もうしばらくお待ちください。</p>
	<% end %>
</table>

</div>
