<%=form_for @edit_article,url:"/article/#{@edit_article.id}" do |f|%>
<% if @update_article.errors.any? %>
  <div id="error_explanation">
    <h2><%= @update_article.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @update_article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
<%=f.label :title%>
<%=f.text_field :title%>
</div>
<div>
  <%=f.label :contents%>
  <%=f.text_area :contents,:size=>"80x5"%>
</div>
<%=f.submit "保存"%>
<%end%>
