<div id="admin_prof">
<div class="form_area">
<%=form_for @edit_prof,url:"/admins/#{@edit_prof.admin_id}" do |f|%>

<% if @update_prof.errors.any? %>
  <div id="error_explanation">
    <h2><%= @update_prof.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @update_prof.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="prof_text">
<ul class="sample1">
  <li><%=f.label :"団体名"%></li>
  <p><%=f.text_field :username%>様</p>
  <li><%=f.label :"ジャンル"%></li>
  <p><%=f.select :genre_id,  @genres.map{|t| [t.name, t.id]} %></p>
  <li><%=f.label :"タイプ"%></li>
  <p><%=f.select :kind_id,  @kinds.map{|t| [t.name, t.id]} %></p>
  <li><%=f.label :"活動場所"%></li>
  <p><%=f.text_field :place,:placeholder=>"例）　茨城大学　水戸キャンパス　サークル棟"%></p>
  <li><%=f.label "連絡先を公開しますか？\n公開する場合のみチェックを入れてください。"%></li>
  <p><%=f.check_box :pub_key%></p>

  <li><%=f.label :"活動人数"%></li>
  <p><%=f.text_field :num,:placeholder=>"人数を入力してください"%>人</p>
  <li><%=f.label :"基本活動日時"%></li><br>
</p>週3日以上活動のある団体はチェックをいれて第一活動日時の時間のみ入力してください。<%=f.check_box :more_week%></p>
  <p colspan="3">
    <%=f.select :week_day,SELECT_DAY,:prompt => "未選択"%>曜日
    <%=f.select :time_start,SELECT_TIME%>〜
    <%=f.select :time_end,SELECT_TIME%>
  </p>
  <p colspan="3">※↓第二活動日時がある方は入力してください！↓<br>
  </p>
  <li><%=f.label :"基本活動日時2"%></li>
  <p colspan="3">
    <%=f.select :week_day2,SELECT_DAY,:prompt => "未選択"%>曜日
    <%=f.select :time_start2,SELECT_TIME%>〜
    <%=f.select :time_end2,SELECT_TIME%>
  </p>
  <li><%=f.label :"紹介文"%></li>
  <p><%=f.text_area :prof,:placeholder=>"初心者大歓迎です。",:size => "60x5"%></p>
</ul>
</div>
<div class="prof_pic">
  <div class="user_pic"><%=f.label :image,"ユーザー画像" %></div>
  <%if @edit_prof.image.blank?%>
  <%=image_tag '/images/noimage.png',:size =>"184x184"%><br>
  <%else%>
  <%=image_tag @edit_prof.image.to_s,:size=>"184x184"%><br>
  <%end%>

  <%= f.file_field :image %><br>
  <em style="color:red;font-size:13px;">※縦:横=1:1が推奨です。<br>画像サイズの縦横比の差が大きい物は潰れて表示される可能性があります。</em>
  <p>お気に入りの画像が見つからなかったら<%=link_to "こちら","http://www.onlinelogomaker.com/",:target=>["_blank"]%>で作成してみるのはいかがですか？</p>
</div>

<div class="button2"><%=f.submit "確定",:class=>"button3"%></div>

<%end%>
</div>
</div>
