<div id="main">
<div id="contents">
  <div id="admin">
  <div class="name_space">
    <%=image_tag Profile.find_by(admin_id:current_admin.id).image.to_s%>
<%=current_admin.profile.username%>様
</div>

<div class="new">
  <p>あなたの投稿</p>
  <%if @index.count==0%>
  <p>まだサークル情報の投稿がないみたいですね！</p>
  <p><%=link_to 'こちら',admins_new_path%>から投稿してみましょう！</p>
  <%else%>
  <ul>
  <%@index.each do |s|%>
  <li>
  <%=link_to s.title,"/admins/show/#{s.id}"%>
  <%=link_to "[編集]","/admins/edit_article/#{s.id}"%>
  <%=link_to "[削除]","/admins/delete_article/#{s.id}",method: :delete, data: {confirm: "一度削除したら元には戻せません。\n本当に削除してよろしいですか？"}%>
</li>
  <%end%>
</ul>
<%end%>
</div>

</div>
<!--end of admin-->
</div>
<!--end of contents-->
</div>
<!--endo of main-->
