<div id="admin">
  <div class="textbox">
  <h1>ようこそ　<%=current_admin.profile.username%>様</h1>
  <%if @image.image.blank?%>
  <%=image_tag '/images/noimage.png',:size => "184x184",:class=>"index_pic"%>
  <%else%>
  <%=image_tag @image.image.to_s,:size=>"184x184",:class=>"index_pic"%>
  <%end%>
<div class="contribution">
<h3>あなたの投稿</h3>
<div class="new">
  <%if @index.count==0%>
  <p>まだサークル情報の投稿がないみたいですね！</p>
  <p><%=link_to 'こちら',admins_new_path%>から投稿してみましょう！</p>
  <%else%>
  <ul>
  <%@index.each do |s|%>
  <li>
  <%=link_to s.title,"/admins/show/#{s.id}"%>
  <%=link_to "[編集]","/admins/edit_article/#{s.id}"%>
  <%=link_to "[削除]","/admins/delete_article/#{s.id}",method: :delete, data: {confirm: "一度削除したら元には戻せません。\n本当に削除してよろしいですか？"}%>
</li>
  <%end%>
</ul>
<%end%>
</div>
</div>
</div>
</div>
<!--end of admin-->
