<div id="admin_form">
<%if @limit_msg >= 1%>
<%=form_for(@admin) do |f|%>
<%if @new_event.errors.any? %>
  <div id="error_explanation">
    <h2><%= @new_event.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @new_event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="msg_area">
  <p><em>ここからあなたの団体の情報を発信してみましょう！</em><br>
    あなたはあと、<span style="color:blue"><%=@limit_msg%></span>件投稿できます！</p>
</div>

<div class="form_area">
<div class="title_form">
  <%=f.label :"タイトル"%><br>
<%=f.text_field :title, :placeholder => "新歓活動のお知らせ"%>
</div>
<div class = "text_form">
  <%=f.label :"内容"%><br>
  <%=f.text_area :contents,:size=>"80x5", :placeholder => "私たち○○は、▲/△に、新入生歓迎会を行います！\n参加費は無料で、予約は必要ないのでぜひみなさん参加してください！"%>
</div>
</div>
<%=f.submit%>
<%end%>
<%else%>
<p style="text-align:center;">あなたはもう10件投稿したので、これ以上投稿することができません！<br>
新しい情報を発信するには、<%=link_to "削除",admins_index_path%>を行ってください。</p>
<%end%>
</div>
