
<p>はじめまして！まずは団体情報を入力してください！</p>

<%=form_for @new_prof,url:'/admins/create_profile' do |f|%>
<% if @create_prof.errors.any? %>
  <div id="error_explanation">
    <h2><%= @create_prof.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @create_prof.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%=f.label :"団体名"%>
  <%=f.text_field :username%>
</div>

<div>
  <%=f.label :"サークルのジャンルを選択してください。"%>
  <%=f.select :genre_id,@genres.map{|t| [t.name, t.id]},:prompt => "選択してください"%>
</div>

<div>
  <%=f.label :"紹介文をここに書いてください。"%>
  <%=f.text_area :prof%>
</div>
<div>
<%=f.label :image,"ユーザー画像" %>
      <%= f.file_field :image %>
    </div>
<div>
  <%=f.label :"活動人数"%>
  <%=f.text_field :num%>人
</div>
<div>
  <%=f.label :"活動場所"%>
  <%=f.text_field :place%>
</div>
<div>
  <%=f.label :"基本活動日時"%>
  <%=f.select :week_day,SELECT_DAY,:prompt => "水"%>曜日
  <%=f.select :time_start,SELECT_TIME%>〜
  <%=f.select :time_end,SELECT_TIME,:prompt => "未定"%>
</div>

  <p>※第二活動日時がある方は入力してください！</p>
  <div　class="day2_form">
    <%=f.label :"基本活動日時2"%>
    <%=f.select :week_day2,SELECT_DAY,:prompt => "土"%>曜日
    <%=f.select :time_start2,SELECT_TIME,:prompt => "選択してください"%>〜
    <%=f.select :time_end2,SELECT_TIME,:prompt => "未定"%>
</div>
<%=f.submit "確定"%>
<%end%>

<script type="text/javascript">
$('.a').on('click',function(){
  $(this).find('.day2_form').show();
  $(this).hide();
});
</script>
