<div id="admin_prof">
<p>はじめまして！まずは団体情報を入力してください！</p>

<%=form_for @new_prof,url:'/admins/create_profile' do |f|%>
<% if @create_prof.errors.any? %>
  <div id="error_explanation">
    <h2><%= @create_prof.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @create_prof.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="prof_text">
<ul class="sample1">
  <li><%=f.label :"団体名"%></li>
  <p><%=f.text_field :username%></p>

  <li><%=f.label :"ジャンル"%></li>
  <p><%=f.select :genre_id,@genres.map{|t| [t.name, t.id]},:prompt => "選択してください"%></p>
  <li><%=f.label :"タイプ"%></li>
  <p><%=f.select :kind_id,  @kinds.map{|t| [t.name, t.id]},:prompt => "選択してください"%></p>
  <li><%=f.label :"活動人数"%></li>
  <p><%=f.text_field :num%>人</p>

  <li><%=f.label :"活動場所"%></li>
  <p><%=f.text_field :place%></p>

  <li><%=f.label "連絡先を公開しますか？\n公開する場合のみチェックを入れてください。"%></li>
  <p><%=f.check_box :pub_key%></p>

  <li><%=f.label :"基本活動日時"%></li>
  <p>
    <%=f.select :week_day,SELECT_DAY,:prompt => "水"%>曜日
    <%=f.select :time_start,SELECT_TIME%>〜
    <%=f.select :time_end,SELECT_TIME,:prompt => "未定"%>
  </p>

  <p>※第二活動日時がある方は入力してください！</p>
  <li><%=f.label :"基本活動日時2"%></li>
  <p>
    <%=f.select :week_day2,SELECT_DAY,:prompt => "土"%>曜日
    <%=f.select :time_start2,SELECT_TIME,:prompt => "選択してください"%>〜
    <%=f.select :time_end2,SELECT_TIME,:prompt => "未定"%>
  </p>
  <li><%=f.label :"紹介文"%></li>
  <p><%=f.text_area :prof%></p>
</ul>
</div>

<div class="prof_pic">
  <div class="user_pic"><%=f.label :image,"ユーザー画像" %></div>
  <%=image_tag '/images/noimage.png',:size =>"180x180"%><br>
  <%= f.file_field :image %><br>
  <em style="color:red;font-size:13px;">※縦:横=1:1が推奨です。<br>画像サイズの縦横比の差が大きい物は潰れて表示される可能性があります。</em>
</div>

<div class="button2"><%=f.submit "確定"%></div>
<%end%>
</div>
