<div class = "menu">
<ul>
   <li class="nav-item">
       <a class = "nav-title js-dropdown" href = "/neets">ネオニートとは</a>
           <ul class = "panel-inner">
               <li class = "panel-item"><a href = "/neets/circle">紹介文</a></li>
           </ul>
       </li>
   <li class="nav-item">
       <a class = "nav-title js-dropdown" href = "/neets/show">メンバー</a>
           <ul class = "panel-inner">
               <li class = "panel-item"><%=link_to "ゆ〜と",neets_profs_path('yuto')%></li>
               <li class = "panel-item"><%=link_to "さっとし",neets_profs_path('satoshi')%></li>
               <li class = "panel-item"><%=link_to "燃費",neets_profs_path('yuki')%></li>
               <li class = "panel-item"><%=link_to "あっちゃん",neets_profs_path('atushi')%></li>
               <li class = "panel-item"><%=link_to "さくちん",neets_profs_path('sakuthin')%></li>
           </ul>
       </li>
       <li class="nav-item">
       <a class = "nav-title js-dropdown" href = "#">どこのページに行く？？</a>

           <ul class = "panel-inner">
               <li class = "panel-item"><a href = "/homes">ホーム</a></li>
               <li class = "panel-item"><a href = "/homes/circle">サークル一覧</a></li>
                <li class = "panel-item"><a href = "/neets/show">メンバー一覧</a></li>

           </ul>
   </li>
   </ul>
   </div>
