<div id="neets">
<h1><%=image_tag '/images/neet_top.gif'%></h1>
<div class="neet_list">
  <ul>
<li><%=image_tag '/images/how_to_neoneet.jpg',{:alt => "Neoニートとは！？",:size => '100x80'}%></li>
<li><%=link_to "Neoニートとは！？",neets_show_path%></li>
  </ul>
</div>
<div class="neet_list">
  <ul>
  <li><%=image_tag '/images/circle_log.png',{:alt => "Circle-Linkについて",:size => '200x55'}%></li>
  <li><%=link_to "Circle-Linkについて",neets_circle_path%></li>
</ul>
</div>
</div>
<!--end of neets-->
