<div id="home">
<div class="slide">
  <div><%=image_tag "/images/home1.jpg",:size => "700x350"%></div>
</div>

<div class="new">
<h2>新着情報</h2>
  <div class="topic">
    <table>
      <tr>
        <th>サークル名</th>
        <th>投稿</th>
        <th>投稿日時</th>
      </tr>
    <%@index.each do |s|%>
    <tr>
    <td><%=s.admin.username%></td>
    <td><%=link_to s.title,home_path(s.id)%></td>
    <td><%=s.created_at.to_s%></td>
    <%end%>
  </table>
  </div>
</div>

<div class="link">
<ul>
  <li><%=link_to "サークル一覧",homes_circle_path,{:class=>"button"}%></li>
  <li><%=link_to "Neoニートとは！？",neets_index_path,{:class=>"button"}%></li>
</ul>
</div>

</div>
<!--end of home-->

<script type 'javascript'>
$(function(){
  $('#home .slide').slick({
    accessibility: true,
    autoplay: true,
    autoplaySpeed: 1000,
    dots: true,
    fade: true,
  });
  $('h2').css('color','red');
});
</script>
