<%content_for :javascript_after do%>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script type=text/javascript>
$(window).load(function(){
  $('#main_slide').slick({
    centerMode:true,
    arrows:false,
    autoplay: true,
    autoplaySpeed: 1100,
    fade: true,
  });

    $('#msg').find('h2').fadeIn(2000);;
});
$(function() {
  var h = $(window).height();

  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});

$(window).load(function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
</script>
<%end%>

<%if is_root?%>
<div id="loader-bg">
  <div id="loader">
    <%=image_tag("/images/img-loading.gif", :size => "80x80" ,:alt => "Now Loading...")%>
    <p>Now Loading...</p>
  </div>
</div>
<%end%>
<!--loader-bg-->
<div id="home">
<div id="msg">

  <div id="main_slide">
    <div><%=link_to (image_tag "/images/ibaraki_univ.jpg",{:size => "700x400"}),"http://www.ibaraki.ac.jp/",:target=>["_blank"]%></div>
    <div><%=image_tag "/images/top_onepice.jpg",:size => "700x400"%></div>
    <div><%=image_tag "/images/top_sakura.jpeg",:size => "700x400"%></div>
    <div><%=image_tag "/images/top_umi4.png",:size => "700x400"%></div>
  </div>
<div class="new">
<h2>新着情報</h2>
<%unless @show_info.count < 6%>
<p><%=link_to "and more...",homes_index_show_info_path%></p>
<%end%>
<div class="topic">
  <%if @show_info.blank?%>
  <p style="text-align:center;">No DATA please waiting... </p>
  <%else%>
  <table>
    <tr>
      <th>サークル名</th>
      <th>投稿</th>
      <th>投稿日時</th>
    </tr>
  <%@show_info.each do |s|%>
  <tr>
  <td><%=link_to s.admin.profile.username,homes_show_details_path(s.admin.id)%></td>
  <td><%=link_to s.title,"homes/show/#{s.id}"%></td>
  <td><%=s.created_at.to_s%></td>
  <%end%>
</table>
<%end%>
</div>
</div>

<div class="find_circle">
  <h2>サークルを見つける</h2>
  <div class="text_box">
    <p>新入生の皆さんご入学おめでとうございます。<br>
      これから茨城大学で過ごしていくにあたって、サークルでかけがえのない友達、<br>思い出を作ってみるのはいかがですか？<br>
    このサイトはそのお手伝いをいたします。</p>
    <p>↓それでは探してみよう自分に合ったサークルを↓</p>
  </div>
  <%=link_to (image_tag '/images/search_img.png',{:size => '150x130'}),homes_circle_path,{:class=>"button2"}%>
</div>
<div class="neoneet_index">
  <h2>Neoニート</h2>
  <div class="neet_text">
    <p>Neoニートってなんだろう・・・</p>
    <p>ニートとは言っているもののメンバーみんな実は社畜(笑)<br>そんな矛盾した人達の紹介をしてます。</p>
    <p>どんな人がこのサイトを作っているのか気になる方はぜひ見ていってください</p>
  <%=link_to "詳細へ >>",neets_path,{:class=>"button"}%>
</div>
</div>
</div>
<!--end of home-->
</div>
<script>
$(function(){
  $(window).scroll(function (){
      $('.neet_text').each(function(){
          var elemPos = $(this).offset().top;
          var scroll = $(window).scrollTop();
          var windowHeight = $(window).height();
          if (scroll > elemPos - windowHeight + 150){
              $(this).addClass('scrollin');
          }else{
            $(this).removeClass('scrollin');
          }
      });
  });
});
</script>
