<div id="home">
<div id="show_details">

<div class="details_prof">
  <div class="image_zone">
  <%if @details.image.blank?%>
  <%=image_tag 'noimage.png'%>
  <%else%>
  <%=image_tag @details.image.to_s%>
  <%end%>
</div>
  <h1><%=@details.username%></h1>
<ul>
    <li>活動場所: <%=@details.place%></li>
    <li>活動人数: <%=@details.num%></li>
    <li>基本活動日時: 毎週<%=@details.week_day%>曜<%=@details.time_start%>〜<%=@details.time_end%></li>
    <%unless @details.week_day2.blank?%>
    <li>第二活動日時：　毎週<%=@details.week_day2%>曜<%=@details.time_start2%>〜<%=@details.time_end2%></li>
    <%end%>
    <li>サークル概要・説明: <%=@details.prof%></li>
    <%if @details.pub_key==true%>
    <li>連絡先： <%=@details.admin.email%></li>
    <%end%>
</div>

</div>
<!--show_details-->
</div>
<!--home-->
