<div id="admin">
<h2 class="heading2">管理者ログイン</h2>

<div class="login_box">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン",:class=>"button3" %>
  </div>
<% end %>
<div class="unknown">
<%= render "devise/shared/links"%>
</div>
</div>
</div>
