
<!-- ドロップバー設置 -->
 <div class = "menu">
 <ul>
    <li class="nav-item">
        <a class = "nav-title js-dropdown" href = "/neets">ネオニートとは</a>
            <ul class = "panel-inner">
                <li class = "panel-item"><a href = "/neets/circle">紹介文</a></li>
            </ul>
        </li>
    <li class="nav-item">
        <a class = "nav-title js-dropdown" href = "/neets/show">メンバー</a>
            <ul class = "panel-inner">
                <li class = "panel-item"><a href = "/neet_profs/1">ゆ～と</a></li>
                <li class = "panel-item"><a href = "/neet_profs/2">さとし</a></li>
                <li class = "panel-item"><a href = "/neet_profs/3">燃費</a></li>
                <li class = "panel-item"><a href = "/neet_profs/4">あっちゃん</a></li>
                <li class = "panel-item"><a href = "/neet_profs/5">さくちん</a></li>
            </ul>
        </li>
        <li class="nav-item">
        <a class = "nav-title js-dropdown" href = "#">どこのページに行く？？</a>
        
            <ul class = "panel-inner">
                <li class = "panel-item"><a href = "/homes">ホーム</a></li>
                <li class = "panel-item"><a href = "/homes/circle">サークル一覧</a></li>
                 <li class = "panel-item"><a href = "/neets/show">メンバー一覧</a></li>
                
            </ul>
    </li>
    </ul>
    </div>
    <br><br><br><br><br>

<p class = "janru_name"><%= @data[1].to_s + '/' + @data[0].to_s %></p>
<p class = "name"><%= @data[0].to_s %></p>

<div class = "top_pic">
<%= image_tag '/images/' + @data[2].to_s ,:size => '0x400'%>
</div>


<p class = "base">自己紹介をお願いします</p>
<p><%= @data[5].to_s %></p>
<p class = "base">趣味は何ですか？？</p>
<p><%= @data[6].to_s %></p>

<!-- 趣味の写真がある場合-->
<!--
<div class = "sub_pic1">
<%= image_tag '/images/' + @data[3].to_s ,:size => '400x400'%>
<%= image_tag '/images/' + @data[4].to_s,:size => '400x400'%>
</div>

-->

<p class = "base">将来の夢は何ですか？？</p>
<p><%= @data[7].to_s %></p>

