<!DOCTYPE html>
<html>
  <head>
    <title>Circlelink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div id="header">
       <%if admin_signed_in?%>
       <%=link_to "新しい投稿",admins_new_path%>
       <%=link_to "ログアウト",destroy_admin_session_path%>
       <%end%>
     </div>
    <%= yield %>
  </body>
</html>
