<!DOCTYPE html>
<html>
  <head>
    <title>Circlelink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
    <div><%=link_to (image_tag "/images/circle_log.png",{:size => "250x72",:class=>"logo_space"}),admins_index_path%></div>
       <%if admin_signed_in?%>
     </div>
     <div id="menu">
       <ul>
       <li><%=link_to "　HOME　",admins_index_path%></li>
       <li><%=link_to "新しい投稿",admins_new_path%></li>
       <li><%=link_to "プロフィール変更","/admins/edit_prof/#{current_admin.id}"%></li>
       <li><%=link_to "ログアウト",destroy_admin_session_path%></li>
     </ul>
       <%end%>
     </div>
    <%= yield %>
    <div id="hutter">
      <div><%=link_to (image_tag "/images/circle_log.png",{:size => "200x60",:class=>"logo_space"}),admins_index_path%></div>
    </div>

  </body>
</html>
