<!DOCTYPE html>
<html>
  <head>
    <title>Circlelink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
    <div class="logo_space"><%=image_tag "/images/circle_log.png",:size => "250x72"%></div>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%if admin_signed_in?%>
       <%=link_to "HOME",admins_index_path%>
       <%=link_to "新しい投稿",admins_new_path%>
       <%=link_to "ログアウト",destroy_admin_session_path%>
       <%end%>

     </div>
    <%= yield %>
  </body>
</html>
