<!DOCTYPE html>
<html>
  <head>
    <title>Circlelink</title>
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

       <div id="header">
         <div class="logo_space"><%=link_to (image_tag "/images/circle_log.png",{:size => "250x72"}),homes_path%></div>
           <ul>
             <li><%=link_to "新着情報",homes_path,{:class =>"button"}%></li>
             <li><%=link_to "サークル一覧",homes_circle_path,{:class=>"button"}%></li>
             <li><%=link_to "Neoニートとは！？",neets_path,{:class=>"button"}%></li>
           </ul>
     </div>

    <%= yield %>

    <div id="hutter">
      <ul class="login">
        <li><%=link_to "管理者ログイン",admin_session_path%></li>
        <li><%=link_to "テスト新規登録",new_admin_registration_path%></li>
      </ul>
      <div class="logo_space"><%=link_to (image_tag "/images/circle_log.png",{:size => "200x60"}),homes_path%></div>
    </div>
    <%=yield :javascript_after%>
  </body>
</html>
