<!DOCTYPE html>
<html>
  <head>
    <title>Circlelink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="./jquery-1.2.3.js"></script>
    <script type="text/javascript" src="homes.js"></script>
  </head>

  <body>
<%=render 'shared/header'%>
    <%= yield %>
    <div id="hutter">

      <ul class="login">
        <li><%=link_to "管理者ログイン",admin_session_path%></li>
        <li><%=link_to "テスト新規登録",new_admin_registration_path%></li>
      </ul>
      <div class="logo_space"><%=link_to image_tag("/images/circle_log.png",{:size => "200x60"}),root_path%></div>
    </div>
  </body>
</html>
